<section>
  <header>
    <img class="logo" src="/assets/img/logobgblue.svg" alt="">

    <div class="header-left-wrapper">

      @if(!isMobile){
      <p>Kanban Project Managment Tool</p>
      @if(isPrivate){
      <div class="help"><img src="/assets/img/help.svg" alt=""></div>
      }
      }
      @if(isPrivate){
      <div class="user-logo" (click)="dropDownMenu = dropDownMenu ? false : true">
        <div class="shortusername" *ngIf="user$ | async as user;">
          {{user.username | initials }}
        </div>
      </div>
      }
    </div>

    <div class="dropdownmenu" [ngClass]="{'d-none': !dropDownMenu}">
      @if(isMobile){
      <a [routerLink]="['/help']">Help</a>
      }
      <a [routerLink]="['/legal']">Legal Notice</a>
      <a [routerLink]="['/privacy']">Privacy Policy</a>
      <a (click)="logOut()">Log out</a>
    </div>
  </header>
</section>
