@use "../../_mixin" as mix;

button {
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-size: var(--button-letter-size);
  border-radius: 8px;
  @include mix.center($x: 5px);

  &.primary,
  &.submit,
  &.fullsize {
    background-color: mix.$main-color;
    color: mix.$secondary-color;

    &:hover {
      background-color: mix.$third-color;
    }
  }

  &.secondary {
    background-color: mix.$secondary-color;
    color: #647188;
    border: 1px solid #647188;

    &:hover {
      color: mix.$third-color;
      border: 1px solid mix.$third-color;
    }
  }

  &.deactive {
    background-color: grey;
    color: mix.$secondary-color;

    &:hover {
      cursor: unset;
    }
  }

  &:hover {
    -webkit-box-shadow: 0px 10px 5px -7px #000000,
      1px 2px 26px -13px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 5px 5px -5px #000000, 1px 2px 26px -13px rgba(0, 0, 0, 0.14);
  }

  &.small {
    @media (max-width: 630px) {
      padding: 10px 20px;
    }
  }

  &.large {
    @media (max-width: 630px) {
      min-width: 180px;
    }
  }

  .clear,
  .check,
  .add,
  .addcontact {
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
  }

  .clear {
    background-image: url(/assets/img/blackcloseicon.svg);
  }

  &:hover .clear {
    background-image: url(/assets/img/closeicon.svg);
  }

  .check {
    background-image: url(/assets/img/checktask.svg);
  }

  .add {
    background-image: url(/assets/img/addtask.svg);
  }

  .addcontact {
    background-image: url(/assets/img/person_add.svg);
  }
}

.fullsize {
  gap: 15px;
  width: 100%;
}
