<div class="card-container" draggable="true">

  <div class="changeprogressmenü" [ngClass]="{'d-none': !isMobile}">

    <img src="./assets/img/smallarrowicon.svg" alt="">
    <div class="progressmenue d-none">
      <h4>Change progress to:</h4>
      <div>In progress</div>
      <!-- TODO: hier alle möglichkeiten zum verschieben mit (click) -->
    </div>

  </div>

  <div class="card">

    <div class="wrapper">
      <div class="headline"
        [ngClass]="{'story': data.category === 'User Story', 'technical': data.category === 'Technical Task'}">
        {{ data.category}}
      </div>

      <div class="title-description-container">
        <h3>{{ data.title}}</h3>
        <div>{{ data.description}}</div>
      </div>

      <div class="progress">
        @if (data.subtasks.length > 0) {
        <div class="progressbar">
          <div class="filler" [style.width]="calcCurrentSubFiller()+'%'"></div>
        </div>

        <div class="card-subtasks">
          {{ countDoneSubtasks() }}/{{data.subtasks.length }} Subtask
        </div>
        }
      </div>

      <div class="circle-prio-container">

        <div class="circle-container">
          @if(data.assigned_users.length! > 0){
          @for (user of data.assigned_users; track $index) {
          <div class="circle" [style.background-color]="user.color">
            {{ user.username | initials}}
          </div>
          }
          }
        </div>

        <div class="countassigneduseres">
          @if(data.assigned_users.length! > 4){
          {{data.assigned_users.length}}<img src="./assets/img/person.svg">
          }
        </div>


        <div class="priority-symbols">
          <img src="./assets/img/prio{{ data.prio}}.svg">
        </div>

      </div>
    </div>
  </div>
</div>
