@use "../../../shared/mixin" as mix;

.changeprogressmenü {
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.progressmenue {
  position: absolute;
  @include mix.center();
  flex-direction: column;
  top: 14px;
  right: 14px;
  z-index: 6;
  width: 140px;
  height: 130px;
  background-color: mix.$main-color;
  border-radius: 15px 0px 15px 15px;
  color: white;
  padding: 5px;
  cursor: auto;

  & h4 {
    margin: 0 0 10px 0;
  }

  & div {
    img {
      width: 13px;
      height: 13px;
    }

    font-size: 14px;
    width: 100%;
    padding: 3px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3px;
  }

  .rotate {
    rotate: 180deg;
  }
}
