<section>
  <nav>
    <div class="nav-wrapper">
      <a href=""><img src="/assets/img/summaryicon.svg" >Summary</a>
      <a href=""><img src="/assets/img/tasksicon.svg" >Add Task</a>
      <a href=""><img src="/assets/img/boardicon.svg" >Board</a>
      <a href=""><img src="/assets/img/contacticon.svg" >Contacts</a>
    </div>

    @if (!isMobile) {
      <div class="legal-privacy-wrapper">
        <a href="">Privary Policy</a>
        <a href="">Legal notice</a>
      </div>
    }

  </nav>
</section>
