<section [ngClass]="{'bgBlue': signup}">
  <header>

    <div class="logo">
      @if(signup){
      <img src="/assets/img/logobgblue.svg" alt="logo from Join">
      } @else {
      <img src="/assets/img/logobgwhite.svg" alt="logo from Join">
      }
    </div>

    @if(!isMobile){
    <div class="change-to-signup" [ngClass]="{'d-none': signup}">
      <p>Not a join user?</p>
      <app-button text="Sign up" (clicked)="signIn()" />
    </div>
    }
  </header>

  <div class="wrapper">

    <div class="h1head">
      @if(signup){
      <img class="arrow" src="/assets/img/arrow.svg" alt="arrow back" (click)="signIn()">
      }
      <h1>@if(signup){Sign up}@else{Log in}
        <div class="seperator"></div>
      </h1>
    </div>

    @if(signup){

    <form (ngSubmit)="onSubmit(signupform)" id="signupform" #signupform="ngForm"  name="signupform" class="login-form">

      <div class="passwortcontainer">
        <input type="text" class="input-name" placeholder="Name" required id="signup_name" name="signup_name" #signup_name="ngModel" [(ngModel)]="signupData.signup_name">
        <br>
        <label for="signup_name" class="redtext d-none" id="signupnamelabel">Please insert a Name.</label>
      </div>

      <div class="passwortcontainer">
        <input type="email" class="input-mail" placeholder="Email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          required id="signup_mail" name="signup_mail" #signup_mail="ngModel" [(ngModel)]="signupData.signup_mail">
        <br>
        <label for="signupmail" class="redtext d-none" id="signupmaillabel">Please insert a Email, example:
          my&#64;mail.com.</label>
      </div>

      <div class="passwortcontainer">
        <input [type]="showPassword ? 'text' : 'password'"
           [ngClass]="{'eye': signupData.signup_pw, '': !signupData.signup_pw}" class="input-password"
          placeholder="Password" required
          name="signup_pw" #signup_pw="ngModel" [(ngModel)]="signupData.signup_pw" id="signup_pw">
        <label for="signup_pw" class="redtext d-none" id="setpasswordlabel">Please fill this field.</label>
        <div class="eye-container" (click)="toggleShowPassword('pw')" [ngClass]="{'pointer': signupData.signup_pw}"></div>
      </div>

      <div class="passwortcontainer">
        <input [type]="showRepeadetPassword ? 'text' : 'password'"
          [ngClass]="{'eye': signupData.signup_pw_confirm, '': !signupData.signup_pw_confirm}" class="input-password"
          placeholder="Confirm Password" required
          name="signup_pw_confirm" #signup_pw_confirm="ngModel" [(ngModel)]="signupData.signup_pw_confirm" id="signup_pw_confirm">
        <label for="signup_pw_confirm" class="redtext d-none">Your password don't match. Please
          try again.</label>
        <div class="eye-container" (click)="toggleShowPassword('repeat')" [ngClass]="{'pointer': signupData.signup_pw_confirm}">
        </div>
      </div>

      <div class="confirmbox">
        <input class="checkbox" type="checkbox" name="confirmread" required id="confirmread" [(ngModel)]="signupData.terms"
        [checked]="this.signupData">
        <span class="checkmark"></span>
        <label for="confirmread">I confirm the <a href="./privacy.html" class="privacy-link">Privacy policy</a></label>
      </div>
      <label for="confirmread" class="redtext d-none" id="confirmreadlabel">Please confirm.</label>
    </form>

    <div class="button-container">
      <app-button text="Sign up" (clicked)="onSubmit(signupform)" for="signup-form" />
    </div>

    } @else {

    <form (ngSubmit)="onSubmit(loginForm)" id="login-form" #loginForm="ngForm" class="login-form">

      <div class="passwortcontainer">
        <input type="email" class="input-mail" placeholder="Email" required id="login_mail" name="login_mail" autocomplete="on" #login_mail="ngModel" [(ngModel)]="loginData.login_mail">
      </div>

      <div class="passwortcontainer">
        <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="loginData.login_pw" name="login_pw"
           [ngClass]="{'eye': loginData.login_pw, '': !loginData.login_pw}" #login_pw="ngModel" class="input-password"
          placeholder="Password" required id="login_pw">
        <div class="eye-container" (click)="toggleShowPassword('pw')" [ngClass]="{'pointer': loginData.login_pw }"></div>
      </div>

    </form>

    <div class="button-container">
      <app-button text="Log in" (clicked)="onSubmit(loginForm)"/>
      <app-button text="Guest log in" type="secondary" (clicked)="signIn()"/>
    </div>
    }
  </div>

  @if(isMobile){
  <div class="change-to-signup" [ngClass]="{'d-none': signup}">
    <p>Not a join user?</p>
    <app-button text="Sign up" (clicked)="signIn()" />
  </div>
  }

  <footer [ngClass]="{'color': signup}">
    <a href="#">Privacy Policy</a><a href="#">Legal Notice</a>
  </footer>
</section>
