@use "../shared/_mixin" as mix;

@media (max-width:630px) {
  section{
    .wrapper{
      width: 90dvw;
      padding: 20px 15px
    }
  }

  .passwortcontainer{
    width: 100%;
  }

  .button-container{
    flex-direction: column;
  }
}

@media (max-width:390px) {
  section{
    .wrapper{
      padding: 20px 15px
    }
  }

  .login-form{
    gap: 4px;
  }
}

@media (max-height: 600px) and (max-width: 1024px) {

  section{
    .wrapper{
      padding: 20px 30px
    }
  }

  .login-form {
    gap: 4px;
  }
}
