@use "../shared/mixin" as mix;

section {
  height: 100dvh;
  width: 100dvw;
  @include mix.center($jc: space-between);
  flex-direction: column;
  header {
    width: 100%;
    max-width: 1440px;
    padding: 50px 50px;
    @include mix.center($jc: space-between);
    .logo {
      img {
        width: 100px;
        height: 120px;
      }
    }
  }

  .wrapper {
    @include mix.center($jc:space-between);
    flex-direction: column;
    height: 610px;
    width: 600px;
    padding: 30px 40px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 2px 0 6px 0 rgb(0, 0, 0, 0.2);
  }

  footer {
    @include mix.center($x: 20px);
    width: 100%;
    max-width: 1440px;
    padding: 50px 50px;

    a {
      color: unset;

      &:hover {
        color: mix.$third-color;
        font-weight: 700;
      }
    }
  }

  .color {
    a {
      color: white;
    }
  }
}

.bgBlue {
  background: mix.$main-color;
}

.change-to-signup {
  @include mix.center($jc: space-between, $x: 25px);
  p {
    font-size: 23px;
  }
}

.h1head {
  @include mix.center();
  width: 100%;
  margin: auto;

  img {
    margin: 0 -33px 0 0;

    &:hover {
      filter: drop-shadow(0.1rem 0.15rem 0.2rem rgba(0, 93, 255, 1));
      cursor: pointer;
    }
  }

  h1 {
    @include mix.center();
    flex-direction: column;
    margin: auto;
    font-weight: 700;
    font-size: 48px;

    .seperator {
      width: 95%;
      height: 3px;
      background: mix.$main-color;
      border-radius: 5px;
      margin-top: 5px;
    }
  }
}

.button-container {
  @include mix.center($x: 30px);
  width: 100%;
  margin: auto;

  label{
    max-width: 50%;
    font-size: 12px;
    word-break: break-word;
    font-weight: 700;
    color: mix.$urgend-color;
    border: 2px solid mix.$urgend-color;
    border-radius: 10px;
    padding: 2px 5px;
    animation: blinker 2s linear infinite;
    -webkit-animation: blinker 2s linear infinite;
  }
}
