@use "../shared/_mixin" as mix;

.login-form {
  @include mix.center();
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px 0 10px;
  margin: auto;
}

.confirmbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 24px;
  margin-top: 15px;
}

.confirmbox input {
  position: absolute;
  opacity: 0;
  scale: 1.2;
  left: 6px;
  z-index: 12;
}

.confirmbox input:hover ~ .checkmark {
  filter: drop-shadow(0.1rem 0.15rem 0.2rem rgba(0, 93, 255, 1));
  scale: 1.1;
}

.checkmark,
.confirmbox input:checked ~ .checkmark {
  content: url("/assets/img/checkboxcheck.svg");
}

.checkmark {
  content: url("/assets/img/checkboxunchecked.svg");
}

.checkbox {
  cursor: pointer;
  width: auto;
  height: 24px;
}

.passwortcontainer {
  position: relative;
  width: 85%;
}

.eye-container {
  cursor: text;
  position: absolute;
  top: 13px;
  right: 10px;
  padding: 12px;
}

.input-name {
  background-image: url("/assets/img/person.svg") !important;
}

.input-mail {
  background-image: url("/assets/img/mail.svg") !important;
}

.input-password {
  background-image: url("/assets/img/lock.svg");
}

.eye[type="password"] {
  background-image: url("/assets/img/visibility_off.svg");
}

.eye[type="text"] {
  background-image: url("/assets/img/visibility.svg");
}

.pointer {
  cursor: pointer;
}

.noValid {
  border-bottom: 2px solid mix.$urgend-color;
}

.feeback-container{
  padding: var(--padding-login-button);
  @include mix.center();
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  min-width: 200px;
  max-width: 50dvw;
  background-color: mix.$main-color;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  word-break: break-all;
  box-shadow: 2px 0 6px 0 rgb(0, 0, 0, 0.2);
  animation: slide-in-top 2s ease-in;
  -webkit-animation: slide-in-top 1s ease-in;
}
