@mixin center($jc: center, $ai: center, $x: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $x;
}

$main-color: #4589FF;
$secondary-color:#FFFFFF;
$third-color:#005DFF;
$wrong-color: #FF8190;
$urgend-color: #FF3D00;
$medium-color:#FFA800;
$low-color: #7AE229;
