@forward './_variable-login';

@mixin center($jc: center, $ai: center, $x: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $x;
}

$main-color: #4589ff;
$secondary-color: #ffffff;
$third-color: #005dff;
$wrong-color: #ff8190;
$urgend-color: #ff3d00;
$medium-color: #ffa800;
$low-color: #7ae229;
