:root {
  --padding-t-logo: 50px;
  --padding-s-logo: 50px;
  --h-logo: 120px;
  --w-logo: 100px;
  --padding-login-button: 20px;

  --normal-letter-size: 16px;
  --mainheader-letter-size: 48px;
  --input-letter-size: 19px;
  --button-letter-size: 23px;

  --header-height: 96px;
  --sidemenu-width: 232px;
  --sidemenu-height: calc(100dvh - var(--header-height));
  --main-content-height: calc(100dvh - var(--header-height));
  --main-content-width: calc(100dvw - var(--sidemenu-width));
}

@media (max-width: 1200px) {
  :root {
    --sidemenu-height: 76px;
    --sidemenu-width: 100dvw;

    --main-content-height: calc(
      100dvh - (var(--header-height) + var(--sidemenu-height))
    );
    --main-content-width: 100dvw;
  }
}

@media (max-width: 800px) {
  :root {
    --padding-t-logo: 30px;
    --header-height: 80px;
    --mainheader-letter-size: 47px;
    --button-letter-size: 19px;
  }
}

@media (max-width: 630px) {
  :root {
    --padding-s-logo: 30px;
    --padding-t-logo: 30px;
    --h-logo: 78px;
    --w-logo: 64px;

    --normal-letter-size: 16px;
    --mainheader-letter-size: 47px;
    --input-letter-size: 19px;
    --button-letter-size: 19px;
  }
}

@media (max-width: 390px) {
  :root {
    --padding-s-logo: 15px;
    --padding-t-logo: 15px;
    --h-logo: 68px;
    --w-logo: 54px;

    --normal-letter-size: 14px;
    --mainheader-letter-size: 38px;
    --input-letter-size: 16px;
    --button-letter-size: 17px;
  }
}

@media (max-height: 900px) {
  :root {
    --padding-t-logo: 15px;
    --h-logo: 78px;
    --w-logo: 64px;

    --mainheader-letter-size: 38px;
    --button-letter-size: 17px;
    --input-letter-size: 16px;
    --normal-letter-size: 14px;
  }
}
