@use "./_mixin" as main;

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

@keyframes logoAnimation {
  0% {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 1;
    z-index: 99;
    background-image: url("/assets/img/logobgblue.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
  }
  99% {
    position: absolute;
    height: var(--h-logo);
    width: var(--w-logo);
    top: var(--padding-t-logo);
    left: var(--padding-s-logo);
    opacity: 1;
    z-index: 99;
    background-image: url("/assets/img/logobgwhite.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  100%{
    display: none;
  }
}

@keyframes bg {
  0% {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: main.$main-color;
    top: 0;
    left: 0;
    z-index: 80;
    opacity: 1;
  }
  99%{
    position: fixed;
    opacity: 1;
    z-index: 80;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0.3;
  }
  100%{
    display: none;
  }
}

@-webkit-keyframes logoAnimation {
  0% {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 1;
    z-index: 99;
    background-image: url("/assets/img/logobgblue.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
  }
  99% {
    position: absolute;
    height: var(--h-logo);
    width: var(--w-logo);
    top: var(--padding-t-logo);
    left: var(--padding-s-logo);
    opacity: 1;
    z-index: 99;
    background-image: url("/assets/img/logobgwhite.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  100%{
    display: none;
  }
}

@-webkit-keyframes bg {
  0% {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: main.$main-color;
    top: 0;
    left: 0;
    z-index: 80;
    opacity: 1;
  }
  99%{
    position: fixed;
    opacity: 1;
    z-index: 80;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0.3;
  }
  100%{
    display: none;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    transform: translate(-50%, -200%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 50%);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translate(-50%, -200%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 50%);
    opacity: 1;
  }
}

@keyframes welcome {
  0%{
    background-color: white;
    opacity: 1;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 90;
  }
  100%{
    background-color: transparent;
    opacity: 0;
    display: none;
    position: absolute;
    top: -100dvh;
    right: 0;
    left: 0;
    height: 0dvh;
    width: 100dvw;
    z-index: 90;
  }
}

@-webkit-keyframes welcome {
  0%{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 90;
  }
  100%{
    display: none;
    position: absolute;
    top: -100dvh;
    right: 0;
    left: 0;
    height: 0dvh;
    width: 100dvw;
    z-index: 90;
  }
}
