<section>


  <div class="contactList-wrapper">

    <app-button />

    @for( contact of contacts() ; track contact; let index = $index){

    @if(isNewGroup(index)){
    <div class="register-letter bold-text center">{{ getInitial(contacts()[index]) }}</div>
    }

    <div class="contact" [ngClass]="{ 'activeContact':activeContact == contact.id }"
      (click)="setActiveContact(contact)">
      <div class="initials " style="background-color:lightblue">
        {{ contact.name| initials }}
      </div>
      <div class="contactfields">
        <p>{{ contact.name| formatUserName }}
        <p>
          <a type="e-mail" href="mailto:${contact.mail}">{{contact.email}}</a>
      </div>
    </div>

    }

  </div>

  <div class="bigContactInfo">


    <img class="back-arrow d-none" alt="backbutton" src="/assets/img/arrow.svg">

    @if(selectedContact){

    <div class="open-contact-headline">
      <div class="initials initials--open-contact" style="background-color:lightblue;">
        {{selectedContact.name| initials}}
      </div>

      <div class="open-contact-name-and-icons">
        <p> {{selectedContact.name}} </p>
        <div class="icons">
          <a class="edit">Edit</a>
          <a class="delete">Delete</a>
        </div>
      </div>
    </div>

    <p class="contactcardinfo">Contact Information</p>
    <div class="phone-and-e-mail-container">
      <p>Email</p>
      <a href="mailto:{{selectedContact.email}}" class="e-mail-card">{{selectedContact.email}}</a>
    </div>
    <div class="phone-and-e-mail-container">
      <p>Phone</p>
      <a href="tel:+49{{selectedContact.phone}}" style="color: black;">+49 {{selectedContact.phone}}</a>
    </div>

    }

  </div>


</section>
