<section>

  <div class="contactList-wrapper">

    <app-button text="Add new contact" size="large" design="fullsize" icon="addcontact" style="width: 100%;"
      (clicked)="toggleOverlay('add')" />

    @for( contact of contacts() ; track contact.id ; let index = $index){

    @if(isNewGroup(index)){
    <div class="register-letter">{{ getInitial(contacts()[index]) }}</div>
    }

    <div class="contact" [ngClass]="{ 'activeContact':activeContact == contact.id }"
      (click)="setActiveContact(contact)">
      <div class="initials " [style.background-color]="contact.bgcolor">
        {{ contact.name| initials }}
      </div>
      <div class="contactfields">
        <p>{{ contact.name| formatUserName }}
        <p>
          <a type="e-mail" href="mailto:${contact.mail}">{{contact.email}}</a>
      </div>
    </div>
    }

  </div>

  <div class="bigContactInfo">

    <img class="back-arrow d-none" alt="backbutton" src="/assets/img/arrow.svg">
    <!-- TODO: Close img anzeigen , wenn im mbile bereich umd "große Karte auszublenden" -->

    @if(selectedContact){

    <div class="open-contact-headline">
      <div class="initials initials--open-contact" [style.background-color]="selectedContact.bgcolor">
        {{selectedContact.name| initials}}
      </div>

      <div class="open-contact-name-and-icons">
        <p> {{selectedContact.name}} </p>
        <div class="icons">
          <a class="edit" (click)="toggleOverlay('edit')">Edit</a>
          <a class="delete" (click)="deleteContact(selectedContact.id!)">Delete</a>
        </div>
      </div>
    </div>

    <p class="contactcardinfo">Contact Information</p>
    <div class="phone-and-e-mail-container">
      <p>Email</p>
      <a href="mailto:{{selectedContact.email}}" class="e-mail-card">{{selectedContact.email}}</a>
    </div>
    <div class="phone-and-e-mail-container">
      <p>Phone</p>
      <a href="tel:+49{{selectedContact.phone}}" style="color: black;">{{selectedContact.phone | phoneformat}}</a>
    </div>
    }

  </div>

  <div class="overlay" [ngClass]="{'d-none': !overlayActive}">
    <div class="overlay-header">
      <img class="close" src="/assets/img/whitecloseicon.svg" alt="" (click)="toggleOverlay('')">
      <div class="overlay-rubric">
        <img src="assets/img/logobgblue.svg">
        <h2>
          @if(overlayContent == 'add'){
          Add contact
          } @else if (overlayContent == 'edit') {
          Edit contact
          }
        </h2>
        @if(overlayContent == 'add'){
        <h3>Tasks are better with a team!</h3>
        }
      </div>

    </div>

    <form class="overlay-form" #formRef="ngForm">

      <div class="contact-fields">

        @if(selectedContact && overlayContent == 'edit'){
        <div class="initials initials--open-contact" [style.background-color]="selectedContact.bgcolor">
          {{selectedContact.name| initials}}
        </div>
        } @else if (overlayContent == 'add') {
        <div class="initials initials--open-contact" style="background-color:lightgrey;">
          @if(addContact.name == ''){
          <img src="/assets/img/person.svg" class="smallimg">
          } @else {
          {{addContact.name| initials}}
          }
        </div>
        }

        <input type="text" class="input-name" placeholder="Name" required minlength="3" pattern="^[a-zA-Z0-9 ]+$"
          [(ngModel)]="addContact.name" name="contact_name" #name="ngModel">
        <input type="email" class="input-mail" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" required
          [placeholder]="(!email.valid && email.touched && name.valid) ? 'Example@gmail.com'  : 'Email'"
          [(ngModel)]="addContact.email" name="contact_email" #email="ngModel">
        <input type="tel" pattern="[0-9]+" required placeholder="Phone" class="input-phone"
          [(ngModel)]="addContact.phone" name="contact_phone" #phone="ngModel">

      </div>

      <div class="buttons-wrapper">

        <app-button text="Cancel" size="small" design="secondary" icon="clear" (clicked)="toggleOverlay('')" />

        @if(overlayContent === 'add' || overlayContent === 'edit'){
        <app-button [text]="overlayContent === 'add' ? 'Create contact' : 'Save'" size="small"
          [design]="formRef.valid ? 'primary' : 'deactive'" for="formRef" icon="check" (clicked)="formRef.valid
        ? (overlayContent === 'add' ? createContact(formRef) : patchContact(formRef))
        : null" />
        }

      </div>
    </form>
  </div>

  <div class="message" [ngClass]="{'d-none': !showSuccessMsg}">
    Contact succesfully created
  </div>

</section>
