@use "../../shared/mixin" as mix;

section {
  @include mix.center($jc: flex-start, $ai: flex-start);
  flex-direction: row;
  height: var(--main-content-height);
  width: var(--main-content-width);
}

.contactList-wrapper {
  @include mix.center($jc: flex-start);
  flex-direction: column;
  max-width: 450px;
  width: 40%;
  height: 100%;
  overflow-y: auto;
  padding: 32px 24px;
  box-shadow: 2px 0.1px 4px 0.1px rgba(0, 0, 0, 0.1);
}

.initials {
  @include mix.center();
  height: 42px;
  aspect-ratio: 1/1;
  color: white;
  font-size: var(--initials-size);
  font-weight: 400;
  border-radius: 50%;
}

.initials--open-contact {
  height: 120px;
  font-size: 47px;
  font-weight: 500;
}

.contact {
  @include mix.center($jc: flex-start,$x:5%);
  height: auto;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.contact:hover {
  background-color: mix.$hover-button;
  cursor: pointer;

  .initials {
    border: 3px solid white;
  }
}

.contactfields {
  p {
    font-size: var(--input-letter-size);
  }
  a {
    font-size: var(--normal-letter-size);
  }
}

.activeContact {
  background-color: mix.$main-color;

  .initials {
    border: 3px solid white;
  }

  .contactfields {
    p,
    a {
      color: white;
    }
  }

  &:hover {
    background-color: mix.$main-color;
  }
}

.bigContactInfo{
  @include mix.center($jc:flex-start,$ai:flex-start, $x:16px);
  flex-direction: column;
  padding: 5vh 5vw;
  z-index: 9;
}

 .contactcardinfo {
  font-size: var( --button-letter-size);
  font-weight: 700;
}

.open-contact-headline {
  @include mix.center($jc:flex-start,$x:3vw);
}

.open-contact-name-and-icons {
  @include mix.center($ai:start);
  flex-direction: column;

  p {
      font-size: 47px;
      font-weight: 600;
      letter-spacing: 0.15px;
  }
}

.icons {
  @include mix.center($x:16px);

  & a {
      font-size: value( --normal-letter-size);
      font-weight: 400;
  }
}

.icons a {
  display: inline-flex;
  align-items: center;
}

.icons a::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 7px;
  background-color: mix.$main-color;;
  mask-size: contain;
}

.icons .edit::before {
  mask: url('/assets/img/edit.svg') no-repeat center;
}

.icons .delete::before {
  mask: url('/assets/img/delete.svg') no-repeat center;
}

.icons a:hover {
  color: mix.$main-color;
  font-weight: 400;
  font-weight: 700;
  cursor: pointer;
}

.phone-and-e-mail-container p{
  font-weight:700 ;
  padding: 10px 0 10px 0;
}

.register-letter {
  width: 95%;
  padding: 0 0 10px 15px;
  border-bottom: 1px solid #d1cdcd;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 400;
}
