@use "../../../shared/mixin" as mix;

.wrapper {
  // height: calc(var(--main-content-height) - 20dvh);
  border-radius: 20px;
  @include mix.center($jc: flex-start, $ai: flex-start);
  flex-direction: column;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  text-align: start;
}

h2 {
  font-size: 20px;
}

.input-title {
  margin-bottom: 5px;
}

.red-underline{
  border-bottom: solid 1px red;
}

.form-wrapper {
  @include mix.center($jc: flex-start, $ai: flex-start, $x: 20px);
}

.form-single-part {
  width: 100%;
}

.text-area-container {
  padding: 10px;
}

input,
textarea,
select {
  width: 422px;
}

textarea:focus {
  border: 1px solid mix.$main-color !important;
}

input:focus {
  border-bottom: 1px solid mix.$main-color !important;
}

textarea {
  height: 136px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: var(--input-letter-size);
  outline: none;
  resize: none;
}

.input-container {
  padding: 10px;
}

// date and select

.input-date[type="date"]::-webkit-inner-spin-button,
.input-date[type="date"]::-webkit-calendar-picker-indicator {
  filter: opacity(0);
  cursor: pointer;
}

.input-date {
  background-image: url(/assets/img/calendar.svg);
}

select::-ms-expand {
  display: none;
}

select {
  height: 48px;
  width: 100%;
  background-image: url(/assets/img/smallarrowicon.svg);
  background-position: calc(100% - 10px);
  background-repeat: no-repeat;
  // background-position-x: 380px;
  border: unset;
  outline: none;
  border-bottom: 1px solid #d1d1d1;
  padding: 12px 16px 10px 16px;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: var(--input-letter-size);
}

// ---form footer

.form-footer {
  width: 100%;
  @include mix.center($jc: space-between);
}

.task-footer-button-container {
  @include mix.center($x: 20px);
}

@media (max-width: 1200px) {
  .wrapper {
    height: var(--main-content-height);
    position: relative;
  }

  .form-wrapper {
    flex-direction: column;
  }

  .form-footer {
    background-color: white;
    position: sticky;
    bottom: 1px;
    padding-bottom: 5px;
    margin: auto;
    max-width: 422px;
  }
}

@media (max-width: 460px) {
  h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 16px;
  }

  .form-wrapper {
    width: 97%;
  }

  input,
  textarea,
  select {
    width: 100%;
  }

  .form-footer {
    width: 93dvw;
  }
}
