<form class="edit-wrapper" #formRef="ngForm" name="addtaskform">

  <div class="form-single-part">

    <div class="input-container">
      <h2 class="required input-title">Title</h2>
      <input type="text" placeholder="Enter a title" autocomplete="off" required minlength="1" #task_title="ngModel"
        [(ngModel)]="addTaskData.title" name="task_title"
        [ngClass]="{ 'red-underline': !task_title.valid && task_title.touched}">
    </div>

    <div class="text-area-container">
      <h2 class="input-title">Description</h2>
      <textarea placeholder="Enter a Description" #task_description="ngModel" [(ngModel)]="addTaskData.description"
        name="task_description"></textarea>
    </div>

    <div class="input-container">
      <h2 class="required input-title">Due date</h2>
      <input type="date" class="input-date"
        [ngClass]="{ 'red-underline': !task_duedate.valid && task_duedate.touched && task_title.valid}"
        #task_duedate="ngModel" [(ngModel)]="addTaskData.due_date" name="task_duedate" required [min]="today"
        (ngModelChange)="onDateChange(task_duedate)">
    </div>

    <div class="input-container">
      <h2 class="input-title">Prio</h2>
      <div class="check-button-container">

        <div class="button-empty-small-2 urgentprio"
          [ngClass]="{'urgentprioaktive' : this.addTaskData.prio == 'urgent'}"
          (click)="this.addTaskData.prio = 'urgent'">Urgent</div>
        <div class="button-empty-small-2 mediumprio"
          [ngClass]="{'mediumprioaktive' : this.addTaskData.prio == 'medium'}"
          (click)="this.addTaskData.prio = 'medium'">Medium</div>
        <div class="button-empty-small-2 lowprio" [ngClass]="{'lowprioaktive' : this.addTaskData.prio == 'low'}"
          (click)="this.addTaskData.prio = 'low'">Low</div>

      </div>
    </div>

    <div class="input-container">
      <h2 class="required input-title">Category</h2>
      <select name="category" [(ngModel)]="addTaskData.category" #category="ngModel" required
        [ngClass]="{ 'red-underline': !category.valid  && task_duedate.valid && task_duedate.touched && task_title.valid}">
        <option value="" selected hidden disabled>Select task category</option>
        <option value="Technical Task">Technical Task</option>
        <option value="User Story">User Story</option>
      </select>
    </div>

    <div class="input-container dropdown-check-list-contacts" [ngClass]="{'visible' : showAssingedToList }">
      <h2 class="input-title">Assigned to</h2>

      <span class="anchor" [ngClass]="{'d-none' : showAssingedToList }"
        (click)="showAssingedToList = !showAssingedToList">Select contacts to
        assign</span>

      <input type="text" class="anchorinput" [ngClass]="{'d-none' : !showAssingedToList }" autocomplete="off"
        placeholder="Search for ..." [value]="filterText()" (input)="filterText.set($any($event.target).value)">

      <i class="arrowupanchorinput" [ngClass]="{'d-none' : !showAssingedToList }"
        (click)="showAssingedToList = !showAssingedToList"></i>

      <ul class="items">

        @for( user of filteredUsers(); track user; let index = $index){
        <li class="contactslistassign">
          <input type="checkbox" name="{{user.id}}" id="{{user.id}}"
            [checked]="addTaskData.assigned_users.includes(user.id!)"
            (ngModelChange)="toggleAssignUser(user.id!, $event)"
            [ngModel]="addTaskData.assigned_users.includes(user.id!)">
          <span class="checkmark"></span>
          <label for="{{user.id }}"><span class="contacticon" [style.background-color]="user.color">{{ user.username |
              initials }}</span>{{ user.username | formatUserName }}</label>
        </li>
        }
      </ul>
    </div>

    <div class="showassignedcontacts">
      @for( user of users(); track user; let index = $index){
      @if( addTaskData.assigned_users.includes(user.id!)){
      <div class="contacticon" [style.background-color]="user.color">{{user.username |
        initials}}</div>
      }
      }
    </div>

    <div class="subtask input-container ">
      <h2 class="input-title">Subtasks</h2>
      <input class="input-subtask input-title" type="text" autocomplete="off" placeholder="Add new subtask"
        #subtask="ngModel" [(ngModel)]="this.subtask.title" [ngModelOptions]="{ standalone: true }"
        (keydown.enter)="createSubTask()">
      <div class="iconssubtask center d-none" [ngClass]="{'d-none': this.subtask.title == ''}">
        <i class="clearsubtask" (click)="this.subtask.title = '' "></i>
        <i class="addsubtask" (click)="createSubTask()"></i>
      </div>
    </div>
    <ul class="showsubtasks">

      @for(singleSubtask of addTaskData.subtasks; track singleSubtask; let index = $index){
      <li>
        <span class="dot" [class.d-none]="editingIndex === index"></span>
        <div class="subtaskslable">
          <input class="subtasksli" type="text" [disabled]="editingIndex !== index" [value]="singleSubtask.title"
            [ngModel]="editingIndex === index ? editingSubtaskValue : singleSubtask.title"
            (ngModelChange)="editingIndex === index ? editingSubtaskValue = $event : null"
            [ngModelOptions]="{ standalone: true }" (keydown.enter)="saveEditSubtask(index)">
          <span *ngIf="editingIndex !== index">
            <i class="editbutton" (click)="editSubTask(index)"></i>
            <i class="deletebutton" (click)="delteSubTask(index)"></i>
          </span>

          <span class="subtaskediticons" [class.d-none]="editingIndex !== index">
            <i class="deletebuton" (click)="this.editingIndex = -1;"></i>
            <i class="addsubtask" (click)="saveEditSubtask(index)"></i>
          </span>
        </div>
      </li>
      }

    </ul>

  </div>
  <div class="button-container">
    @if(formRef.valid){
    <app-button design="submit" size="small" text="Save" icon="check" (clicked)="submit(formRef)" />
    } @else {
    <app-button text="Save" size="small" design="deactive" for="addtaskform" icon="check"/>
    }
  </div>

</form>
