@use "../../shared/mixin" as mix;

section {
  @include mix.center();
  flex-direction: column;
  height: var(--main-content-height);
  width: var(--main-content-width);
  overflow: hidden;
  position: relative;
}

.wrapper {
  padding: 10px 20px;
  width: 912px;
  height: 442px;
  @include mix.center($jc: space-between, $ai: flex-start);
  flex-wrap: wrap;
}

.smallBox,
.largeBox {
  background: white;
  height: 45%;
  box-shadow: 2px 0 6px 0 rgb(0, 0, 0, 0.2);
  border-radius: 30px;
}

.smallBox {
  aspect-ratio: 1/1;
  padding: 30px;
  @include mix.center();
  flex-direction: column;
  font-size: var(--button-letter-size);
  text-align: center;
  color: mix.$main-color;
}

.smallBox:hover {
  scale: 1.1;
  background-color: mix.$third-color;
  color: white;

  .icon-wrapper {
    color: white !important;
  }
}

.toDo {
  background-color: mix.$hover-button;
  color: mix.$main-color;
}

.icon-wrapper {
  @include mix.center($jc: space-around, $x: 10px);
  font-size: 48px;
  font-weight: 700;
  width: 100%;
  color: black;
  .img {
    border: solid 3px white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 76px;
    aspect-ratio: 1/1;
  }
}

.largeBox {
  @include mix.center($jc: space-around);
  aspect-ratio: 3.4/1;
  height: 45%;
  background: mix.$main-color;
  color: white;
  .largeBox-wrapper {
    font-size: var(--button-letter-size);
    .icon-wrapper {
      color: white;
    }
  }
}
.largeBox:hover,
.toDo:hover {
  scale: 1.1;
  background-color: white;
  color: mix.$main-color;

  .icon-wrapper {
    color: mix.$main-color !important;
  }

  .urgendTaskInfo {
    border-left: 3px solid mix.$main-color;
  }
}

.urgendTaskInfo {
  @include mix.center($ai: flex-start);
  flex-direction: column;
  border-left: 3px solid white;
  padding-left: 30px;
  height: 80%;

  h2 {
    font-size: 33px;
    font-weight: 700;
  }
  p {
    font-size: var(--button-letter-size);
  }
}

.welcomeanimation{
  animation: welcome 2.5s ease-in-out forwards;
  -webkit-animation: welcome 2.5s ease-in-out forwards;
}

.urgent {
  background-image: url(/assets/img/urgent.svg);
}
.taskcount {
  background-image: url(/assets/img/taskcount.svg);
}
.todo {
  background-image: url(/assets/img/todo.svg);
}
.progresstasks {
  background-image: url(/assets/img/progresstasks.svg);
}
.feedback {
  background-image: url(/assets/img/feedback.svg);
}
.taskdone {
  background-image: url(/assets/img/taskdone.svg);
}
