@use "../../shared/mixin" as mix;

@media (max-width: 920px) {
  .wrapper {
    height: 632px;
    width: 396px;
    flex-direction: row;
    padding: 0;
  }

  .smallBox {
    width: 47%;
    padding: 15px 40px;
    height: 152px;
    aspect-ratio: unset;
  }

  .largeBox {
    width: 100%;
    height: 150px;

    .largeBox-wrapper {
      width: 45%;
      @include mix.center($x: 5px);
      flex-direction: column;
      .icon-wrapper {
        justify-content: center;
        width: 100%;
      }
    }

    .urgendTaskInfo {
      width: 55%;
      padding-left: 10px;

      h2 {
        font-size: 23px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .toDo {
    width: 100%;
    height: 106px;
    flex-direction: row;

    .icon-wrapper {
      justify-content: flex-start;
      width: 50%;
    }
  }

  .welcome-wrapper{
    h1{
      text-align: center;
    }
  }
}

@media (max-width: 420px) {
  .wrapper {
    width: 310px;
    height: auto;
    gap: 10px;
  }

  .smallBox {
    height: 110px;
    padding: 10px 20px;
  }

  .largeBox {
    height: 120px;
  }

  .toDo {
    height: 90px;
  }

  .icon-wrapper {
    font-size: 38px;
    .img {
      width: 52px;
    }
  }
}
